@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";

@font-face {
  font-family: "Broke";
  src:
    url("/fonts/BrokeFat-Black.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie";
  src:
    url("/fonts/Amiamie-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



:root {
  --clr-white: #fffdf0;
  --clr-gray: #e7e7e7;
  --clr-black: #18191a;
  --clr-blue-dark: #0a0957;
  --clr-blue-light: #00ccfc;
  --clr-blue-default: #0095ec;
  --clr-blue-lightest: #50ddfe;
  --clr-blue-darkest: #001c42;
  --clr-green-dark: #00392e;
  --clr-green-light: #6aa924;
  --clr-yellow-dark: #f29f05;
  --clr-yellow-light: #f2cb05;
  --clr-purple-light: #617edd;
  --clr-off-white: #faf8f0;
  --clr-off-white-100: #f3ede0;
  --clr-olive: #bed992;
  --clr-pink-light: #ff9fad;
  --clr-blue-dark: #141a23;
}

html {
  overflow-x: hidden;
  background-color: var(--clr-white);
}

h1,
h2,
h3 {
  font-family: "Amiamie";
}

h1 {
  font-size: xx-large;
  font-weight: 700;
  color: var(--clr-blue-dark);
}

h2 {
  font-size: large;
  font-weight: 700;
}

h3 {
  font-size: medium;
  font-weight: 600;
}

.container {
  display: flex;
  height: 100vh;
  max-width: 100vw;
}


.bannerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  mix-blend-mode: luminosity;

}

.gridItem {
  position: relative;
  overflow: hidden;
  background-color: #333;
}

.gridItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  overflow: hidden;
}

.centeredText {
  font-family: "Broke";
  font-size: 15rem;
  line-height: normal;
  text-align: center;
  pointer-events: auto;
  mix-blend-mode: lighten;
}
.topRightImage {
  top: 0;
  left: 0;
  width: 80px;
  height: auto;
  pointer-events: auto;
  mix-blend-mode: darken;
}

.bottomLeftImage {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: auto;
  pointer-events: auto;
  mix-blend-mode: darken;
}

.instagramLink {
  position: absolute;
  bottom: 20px;
  right: 20px;
  pointer-events: auto;
}

@media (max-width: 1024px) {
  .banner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .bottomLeftImage {
    width: 80px;
  }

  .bannerContainer {
    width: 100%;
  }

  .banner {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .centeredText {
    font-size: 5rem;
  }
}

.home-about {
  background-color: var(--clr-green) !important;
}

.shadow-title {
  color: transparent;
  -webkit-text-stroke: 2px var(--clr-blue-dark);
}

.header-links {
  font-family: "Amiamie";
  font-size: small;
}

input.searchbarInput::placeholder {
  color: var(--clr-blue-dark) !important;
}

input.searchbarInput.searchbarInputMob::placeholder {
  color: var(--clr-blue-white) !important;
}

input.searchbarInput:focus {
  outline: none;
}

input.searchbarInput:focus::placeholder {
  color: transparent !important;
}

.gradient-circle {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  top: -30px;
  height: 40px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  background: radial-gradient(circle,
      rgba(248, 107, 223, 1) 0%,
      rgba(107, 107, 248, 0.8) 100%);
}

.gradient-circle-bottom {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  bottom: -20px;
  height: 30px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  background: radial-gradient(circle,
      rgba(248, 107, 223, 1) 0%,
      rgba(107, 107, 248, 0.8) 100%);
}

.gradient-shadow:hover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #45caff 0%, #ff1b6b 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.gradient-shadow:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}